* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: orange;

}

.container {
    position: relative;
    width: 28rem;
    margin: 10% auto;
}

.white-keys kbd {
    background: white;
    display: inline-block;
    width: 4rem;
    font-size: 2rem;
    text-align: center;
    margin-left: -4px;
    border: 1px solid wheat;
    padding-top: 5rem;
}

.black-keys kbd {
    display: inline-block;
    background-color: black;
    width: 2rem;
    padding: 2.5rem 0 1rem 0;
    color: white;
    text-align: center;
}

.black-keys {
    position: absolute;
    top: 0;
}

#w {
    margin-left: 2.8rem;
}

#e {
    margin-left: 1.8rem;
}

#t {
    margin-left: 5.6rem;
}

#y {
    margin-left: 1.8rem;
}

#u {
    margin-left: 1.8rem;
}